<div class="background_wedding">
  <div class="row justify-content-center">
    <!-- diseño web -->
    <div class="col-11 col-lg-10">
      <div class="asitence_card" >
        <div class="row justify-content-center">
          <div class="asistence_flor">
            <img src="assets/img/flores-02.png" alt="flores-02">
          </div>
          <div class="col-8" style="padding-top: 30px;text-align: center; font-family:Rochester;">
            <span style="  font-family: Calligraphy; color: #ac8400; font-size: xx-large;">Maleny & Gustavo</span> <br>
            <span style="color: #de3e74; font-size: 17pt;"> Gracias confirmar tu asistencia. </span><br>
              <span>
                Te esperamos <br>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
