<app-tool-bar></app-tool-bar>
<div class="row justify-content-center">
  <div class="col-11">
      <div class="row justify-content-between p-4">
          <div class="col-6">
              <span class="admin-title">Invitados de {{object.name}}</span>
          </div>
          <div class="col-6" style="    text-align: right;">
              <button mat-button color="primary"> <i class="material-icons">add</i>Agregar un invitado</button>
          </div>
      </div>
      <div class="row justify-content-center">
          <div class="col-12">
              <table class="table table-general">
                  <thead class="header-table">
                    <tr>
                      <th class="">Nombre</th>
                      <th class="">Acciones</th>
                    </tr>
                  </thead>
      
                  <tbody>
                    <tr *ngFor="let object of guestList">
                      <td>{{ object.name }}</td>
                      <td>
                        <button mat-icon-button color="primary" matTooltip="Listado de invitados" >
                          <i class="material-icons">format_list_bulleted</i>
                        </button>
                      </td>
                    </tr>
                  </tbody>
                </table>
          </div>
      </div>
  </div>
</div>
